
th {
    background-color: #f8faff;
    @apply font-normal border p-2;
}

td {
    @apply p-1;
}

th,
td {
    @apply border-gray-300;
}

td:first-of-type,
th:first-of-type {
    @apply border-l;
}

td {
    @apply border-r;
}

button:not(.blue) {
    border-radius: 6px;
    border: 1px solid #d0d4df;
    padding: 5px 20px;
    color: #313949;
    box-shadow: inset 0 -1px 0 #d0d4df;
    background: transparent linear-gradient(180deg, #fcfdff 0%, #eaeef5 100%);
    outline: 0;
}

button.blue {
    color: #fff;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 8px 20px;
    box-shadow: inset 0 -2px 0 #0061ca;
    background: transparent linear-gradient(0deg, #0279ff 0%, #00a3f3 100%);
    border: 0;
    outline: 0;
    cursor: pointer;
    text-align: center;
    margin-right: 8px;
}

button:hover {
    outline: 1px solid rgba(0, 0, 0, 0.3);
}

button:disabled {
    @apply cursor-not-allowed opacity-90;
}
